{% extends 'base.jinja2' %}

{% block header %}
  <header>
    <h1 class="paste-header">{{ title }}</h1>
  </header>
{% endblock %}

{% block main %}
  <main class="paste-detail">
    <h2>Questão 2</h2>
    <p>Conteúdo do Paste.</p>
    <ul>
      <li>50% - mostra conteúdo</li>
      <li>70% - mostra como código formatado</li>
      <li>100% - syntax highlight. (Dicas: pygments, prims.js)</li>
    </ul>
  </main>
{% endblock %}