@import "normalize.css"; 
@import "bourbon/bourbon";

$border-color: green;
$background-color: magenta;
$standard-padding: 20px;


.contact {
    font-size: 2em;
    padding: $standard-padding;
    border: 10px solid $border-color;
    margin: 3 * $standard-padding;
    background: $background-color;

    .contact__img {
        background: lighten($background-color, 10%);
    }

    .contact__icon {
    }

    .contact__info {
    }
}
